<div class='d-flex flex-1 flex-column'>
  <h2 class='m-1'>Editing [{{book?.title}}]</h2>
  <mat-tab-group 
  class='flex-1 br-book-content-edit' 
  [selectedIndex]='tabIndex' 
  (selectedIndexChange)='changeTab($event)'>
    <mat-tab 
      label="{{'Book editing'}}">
          <app-book-content-editor 
          class='d-flex flex-1'
          [book]='book' 
          [chapters]='chapters' 
          >
          </app-book-content-editor>
    </mat-tab>

    <mat-tab label="{{'Book properties'}}">
      <app-book-info-edit 
        [book]='book' 
        [bookPage]='bookPage'>
      </app-book-info-edit>
    </mat-tab>
  </mat-tab-group>
</div>