<div class="container-fluid">
  <h1>
    Books <button mat-mini-fab color="primary" (click)="add()">
      <mat-icon >add</mat-icon>
    </button>
    <!-- <button (click)="add()" class='btn btn-sm btn-default p-0 text-success'><i class="material-icons f-44">add_box</i></button> -->
  </h1>
  <ul class="border rounded row no-list-style p-0" >
    <li class="col-sm-6 col-md-4 col-lg-3 d-flex book" *ngFor="let book of books">
        <app-editable-book class="d-flex flex-1" [book]="book"></app-editable-book>
    </li>
    
  </ul>

</div>