<div class='row' *ngIf='!isEdit'>
    <div class="col">
        <a [href]="domain.protocol + domain.name">{{domain.name}}</a>
        <div class="d-inline-block">
            <mat-icon class="text-success" *ngIf='domain.verified' title='domain verified'>check</mat-icon>
            <mat-icon class="text-danger" *ngIf='!domain.verified' title='domain not verified'>priority_high</mat-icon>
            <button class="text-info btn btn-link" *ngIf='!domain.verified' title='domain not verified'>verify</button>
        </div>
        <div class="">
            Protocol: <span class="badge badge-pill badge-light p-1">{{domain.protocol}}</span>
            <span *ngIf="!domain.verified"> 
                Verification type: <span class="badge badge-pill badge-light p-1">{{DomainVerificationTypeStrings[domain.verificationType] | translate}}</span>
                Verification code: <span class="badge badge-pill badge-light p-1">{{domain.verificationCode}}</span>
        </span>
        </div>
    </div>
    <div class="col-auto d-flex flex-row flex-sm-column">
        <button mat-icon-button (click)="action.emit({action:'select', data: domain})">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="action.emit({action:'delete', data: domain})">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<form *ngIf='isEdit' class='row' [formGroup]="domainForm" 
(ngSubmit)="domainForm.valid ? action.emit({action: 'edit', data: domainForm.value}): ''" 
(reset)="action.emit({action: 'select', data: domain})">
    <div class="col">
            <mat-form-field class="col">
                    <input matInput formControlName='name' placeholder="Domain" >
                    <mat-error *ngIf="domainForm.controls['name']?.errors?.required">
                        Domain name is <strong>required</strong>
                    </mat-error>
            </mat-form-field>

            <mat-form-field class="col">
                    <mat-label>Protocol</mat-label>
                    <mat-select formControlName='protocol'>
                        <mat-option value="http://">http://</mat-option>
                        <mat-option value="https://">https://</mat-option>
                    </mat-select>
            </mat-form-field>
            <div class="col mb-2" *ngIf='domainForm.controls?.protocol?.value == "https://"'>
                <input class='position-absolute' type="file" #fileInput  />
                <button mat-raised-button class='w-100' type="button" (click)="fileInput.click()">SSL Certificate</button>
            </div>
            <mat-form-field class="col">
                    <mat-label>Verification type</mat-label>
                    <mat-select formControlName='verificationType'>
                        <mat-option [value]="DomainVerificationType.dns">{{DomainVerificationTypeStrings[DomainVerificationType.dns] | translate}}</mat-option>
                        <mat-option [value]="DomainVerificationType.file">{{DomainVerificationTypeStrings[DomainVerificationType.file] | translate}}</mat-option>
                        <mat-option [value]="DomainVerificationType.manually">{{DomainVerificationTypeStrings[DomainVerificationType.manually] | translate}}</mat-option>
                    </mat-select>
            </mat-form-field>
    </div>
    <div class="col-auto d-flex flex-row flex-sm-column">
        <button mat-icon-button type="submit" color='primary'>
            <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button type="reset" color="accent">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</form>