<h1 mat-dialog-title>Change your password</h1>
  <form autocomplete="off"  (ngSubmit)="changePass()" [formGroup]="changePassForm">
    <mat-form-field class='col'>
      <input matInput cdkFocusInitial type="password" formControlName="oldPassword" placeholder="Old password" />
      <mat-error *ngIf="changePassForm.controls.oldPassword.hasError('required')">
        Please enter old password
      </mat-error>
    </mat-form-field>
    <mat-form-field class='col'>
      <input matInput type="password" formControlName="newPassword" placeholder="New password" />
      <mat-error *ngIf="changePassForm.controls.oldPassword.hasError('required')">
        Please enter new password
      </mat-error>
    </mat-form-field>
    <mat-form-field class='col'>
      <input matInput type="password" formControlName="confirmation" placeholder="Confirm New password" />
      <mat-error *ngIf="changePassForm.controls.oldPassword.hasError('required')">
        Please enter new password confirmation
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="changePassForm.hasError('passwordConfirmation')">
      New password and confirmation should be equal
    </mat-error>
    <div>
      <mat-error *ngFor='let message of serverMessages'>
        {{message | translate }}
      </mat-error>
    </div>
    <div mat-dialog-actions>
      <button [disabled]="isUiBlocked" type="reset" mat-raised-button (click)="onClose()">Cancel</button>
      <button [disabled]="changePassForm.invalid || isUiBlocked" mat-raised-button color="primary">Ok</button>
    </div>
  </form>