<li class='br-books-list-item p-1'>
  <h4 >{{book.title}}</h4>
  <div class="flex-1 d-flex justify-content-center align-items-center">
    <img 
      *ngIf="book.picture"
     class='' [src]="book.picture" alt="">
  </div>
  <div>
    <button (click)="fastEdit()" mat-icon-button color="accent"><mat-icon>border_color</mat-icon></button>
    <button (click)="edit()" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    <button (click)="delete()" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
  </div>
</li>