<h1 mat-dialog-title>Enter new book name</h1>
  <form autocomplete="off" #form="ngForm" (ngSubmit)="add()">
    <mat-form-field class='col'>
      <input matInput  required type="text" name="bookname" placeholder="Book name" #book="ngModel" [(ngModel)]='bookName'>
        <mat-error *ngIf="!book.value && book.touched">
        Please enter Book name 
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions class='justify-content-end pb-3'>
      <button type="reset" mat-raised-button (click)="close()">Cancel</button>
      <button [disabled]="form.invalid" mat-raised-button color="primary">Ok</button>
    </div>
  </form>
  

