<div class="flex-1 d-flex justify-content-center align-items-center">
  <form class='col-12 col-sm-10 col-lg-8 col-xl-6 m-auto' (ngSubmit)='becomeAnAuthor()'>
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button  mat-flat-button color="primary" class='text-uppercase' >Become an author</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </form>
</div>