<ng-container *ngIf='books.length > 0' [ngSwitch]='type'>

  <ul class='br-books-list' *ngSwitchCase='BookRenderingType.author'>
    <app-books-list-author-item *ngFor='let book of books' [book]='book' (select)='selected($event)'>
    </app-books-list-author-item>
  </ul>

  <ul class='br-books-list' **ngSwitchDefault>
      <app-books-list-item *ngFor='let book of books' [book]='book' (select)='selected($event)'>
  
      </app-books-list-item>
    </ul>
</ng-container>

<ng-container *ngIf='books.length == 0'>
    <app-books-list-no-content ></app-books-list-no-content>
</ng-container>