<mat-drawer-container class="flex-1" autosize>
  <mat-drawer 
      #drawer 
      position='end' 
      class="d-flex" 
      [opened]='sidebarIsOpened' 
      [mode]="sidebarMode">
    <app-book-chapters-editor 
        [chapters]="chapters" 
        [bookId]="book?.id" 
        class='br-chapters-sidenav'>

    </app-book-chapters-editor>
  </mat-drawer>

  <div class="d-flex flex-1 flex-column">
    <div class="py-2 mx-0 row">
      <div class='col-auto'>
        <button type="button" class='br-toggle-button' mat-raised-button color="primary" (click)="drawer.toggle()">
          Toggle chapters panel
        </button>
      </div>
      <div class="col">
        <div class="d-inline-block font-weight-bold text-truncat">
            {{  bookChapter?.title }}
        </div>  
        
      </div>
    </div>
      <app-book-content-inner-editor 
        [isActive] ="isTabActive"
       class="d-flex flex-1 bg-info">

      </app-book-content-inner-editor>
    </div>
</mat-drawer-container>