<form class="col" #addBookForm="ngForm">
  <mat-form-field class="">
    <input matInput required placeholder="Book title" name="bookTitle"[(ngModel)]="model.title" #bookTitle="ngModel">
    <mat-error *ngIf="!bookTitle.valid && (bookTitle.dirty || bookTitle.touched)">
      Book title is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="">
    <input matInput required placeholder="Author" name="author"  [(ngModel)]="model.author" #author="ngModel">
    <mat-error *ngIf="!author.valid && (author.dirty || author.touched)">
      Author is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button class="float-right" [disabled]="!addBookForm.form.valid" [mat-dialog-close]="model" mat-raised-button color="primary">Add</button>
  <button class="" mat-stroked-button color="primary" (click)="onNoClick()" >Cancel</button>
</form>