<div class="authorization-parent d-felx flex-column">
  <form (ngSubmit)="registration()" #loginForm="ngForm">
    <h1 class="text-center">Registration</h1>
    <div class="authorization-center">
      <mat-form-field class=" size-input-authorization">
        <input matInput required name="username" [(ngModel)]="model.username" placeholder="User name" class="font-weight-light"
          #username="ngModel">
        <mat-error *ngIf="!username.valid && (username.dirty || username.touched)">
          User name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="size-input-authorization">
        <input matInput required type="password" name="password" placeholder="Password" class="font-weight-light"
          [(ngModel)]="model.password" #password='ngModel'>
        <mat-error *ngIf="!password.valid && (password.dirty || password.touched)">
          password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="size-input-authorization">
        <input matInput required type="password" name="passConfirmation" placeholder="Repeat password" class="font-weight-light"
          [(ngModel)]="model.passConfirmation" #passConfirmation='ngModel'>
        <mat-error *ngIf="!passConfirmation.valid && (passConfirmation.dirty || passConfirmation.touched)">
          password confirmation is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="text-center">
      <mat-error *ngIf="errMessage" class='mb-3'>
        password confirmation sould be equla to password
      </mat-error>
      <button [disabled]="!loginForm.form.valid && !errMessage" mat-raised-button class="mat-raised-btn w-50" color="primary">Register</button>
      <a class="mt-3 d-block"  [routerLink]="['/authorization']">Authorize</a>
    </div>
  </form>
</div>