<mat-drawer-container class="flex-1" autosize>
    <mat-drawer 
        #drawer 
        position='end' 
        class="d-flex" 
        [opened]='sidebarIsOpened' 
        >
      <app-book-chapters-list 
          [chapters]="chapters" 
          [bookId]="book?.id" 
          class='br-chapters-sidenav'>
  
      </app-book-chapters-list>
    </mat-drawer>
  
    <div class="d-flex flex-1 flex-column">
        <app-reading-top-nav
          (toggleChaptes)="drawer.toggle()"
          [chapter]="bookChapter"
          >
        </app-reading-top-nav>

        <app-book-content-reader
          [chapter]='bookChapter'
          class='flex-1 position-relative'  
          >
        </app-book-content-reader>
      </div>
  </mat-drawer-container>