<div class="flex-1 d-flex justify-content-center align-items-center">
  <form class='col-12 col-sm-10 col-lg-8 col-xl-6' (ngSubmit)="updateProfile()" [formGroup]="profileForm">
    <!-- <div>
      AAA
      <div class='d-block d-sm-none' >xs</div>
      <div class='d-none d-sm-block d-md-none' >sm</div>
      <div class='d-none d-md-block d-lg-none' >md</div>
      <div class='d-none d-lg-block d-xl-none'>lg</div>
      <div class='d-none d-xl-block'>xl</div>
    </div> -->
    <dl class='mb-0 row'>
      <dt class='col-12 col-sm-3 col-lg-4 col-xs-3 text-sm-right  border-right pr-3'>Avatar</dt>
      <dd class='col ml-sm-3'>
        <mat-form-field class="w-100">
          <input matInput placeholder="" formControlName="avatar" >
        </mat-form-field>
      </dd>
    </dl>
    <dl class='mb-0 row'>
      <dt class='col-12 col-sm-3 col-lg-4 col-xs-3 text-sm-right  border-right pr-3'>UserName</dt>
      <dd class='col ml-sm-3'>
        <mat-form-field class="w-100">
          <input matInput readonly formControlName="username" >
        </mat-form-field>
      </dd>
    </dl>
    <dl class='mb-0 row'>
      <dt class='col-12 col-sm-3 col-lg-4 col-xs-3 text-sm-right  border-right pr-3'>FullName</dt>
      <dd class='col ml-sm-3'>
        <mat-form-field class="w-100">
          <input matInput formControlName="name">
        </mat-form-field>
      </dd>
    </dl>
    <dl class='row mb-0'>
      <dt class='col-12 col-sm-3 col-lg-4 col-xs-3 text-sm-right  border-right pr-3'>Roles</dt>
      <dd class='col ml-sm-3'>
        <mat-form-field class="w-100">
          <input matInput readonly formControlName="roles">
        </mat-form-field>
      </dd>
    </dl>
    <dl class='row mb-0'>
      <dt class='col-12 col-sm-3 col-lg-4 col-xs-3 text-sm-right  border-right pr-3'>Email</dt>
      <dd class='col ml-sm-3'>
        <mat-form-field class="w-100">
          <input matInput formControlName="email">
        </mat-form-field>
      </dd>
    </dl>
    <div class='row my-4'>
      <div class='col-sm-4'>
      </div>
      <div class='col '>
        <div class='d-flex justify-content-between'>
            <button 
            [disabled]="profileForm.invalid"
            mat-raised-button color="primary">Save</button>
            <button (click)="changePass($event)" mat-raised-button color="accent">Change password</button>
        </div>
        <div class="my-3">
          <button (click)="becomeAnAuthor($event)" mat-raised-button color="primary">Becaome an Author</button>
        </div>
      </div>
    </div>
  </form>

</div>