<div class=" gradient-authorization-page" >
    <div class="authorization-parent ">
      <form class="form-authorization" (submit)="login($event)" #loginForm="ngForm">
        <h1 class="authorization-center ">Books Reader</h1>
        <div class="authorization-center">
          <mat-form-field class=" size-input-authorization">
            <input matInput    name="email" [formControl]="userNameFormControl" placeholder="User name" class="font-weight-light">
            <mat-error *ngIf="userNameFormControl.hasError('required')">
              User name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="size-input-authorization">
            <input matInput   [formControl]="passwordFormControl" type="password" name="password" placeholder="Password" class="font-weight-light">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="authorization-center mb">
            
            <a  [routerLink]="['/registration']" routerLinkActive="active">Registration</a>
          </div>
        <div class="authorization-center">
          <button mat-raised-button class="mat-raised-btn w-50"  color="primary">Log in</button>
        </div>
      </form>
    </div>
  </div>