
@import "./parameters.scss";

.br-books-list {
    list-style: none;
    display: block;
    padding: $padding-standard;
    


    .br-books-list-item {
        overflow: hidden;
        border: 1px solid palevioletred;   
        width: 250px;
        height: 350px;
        
        display: inline-flex;
        flex-direction: column;
        margin: $margin-standard;

        h4 {
            display: block;
            max-height: 50%;
            text-overflow: ellipsis;
            overflow-y: scroll;
        }

        img {
            height: 100%;
        }
    }

    clear: both;
}
