.br-books-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 90vh;
    overflow-y: auto;
}

.br-author-book-list-item {
        
    width: 250px;
    height: 350px;

    overflow: hidden;

    figure {
        width: 250px;
        vertical-align: middle;

        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
            align-self: center;
        }
    }

    h4 {
        display: block;
        max-height: 50%;
        text-overflow: ellipsis;
        overflow-y: auto; 
    }
}


.br-book-content-edit{
    .mat-tab-body-wrapper{
        display: flex;
        flex: 1;

        .mat-tab-body-content, 
        .mat-drawer-content, 
        .mat-drawer-inner-container{
            display: flex;
            flex: 1;
        }
    }
}

.br-chapters-sidenav {
    width: 320px;
    display: flex;
}


.br-chapter-card-title {
    overflow-y: auto;
    max-height: 300px;
}
