/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "material-design-icons/iconfont/material-icons.css";

@import "./parameters.scss";
@import "./utilities.scss";

html, body{
    height: 100%;
    width: 100%;
    display: flex;    
}
 
// pages components
app-root,
app-login, 
app-registration-component, 
app-force-logout,
app-profile,
app-all-users-page,
app-become-an-author-page,
app-author-profile-page {
    flex: 1;
    display: flex;
}

.w-75-vw {
    min-width: 75vw;
}

.min-h-400{
    min-height: 400px;
    overflow: auto;
}

.mw-75 {
    max-width: 75%;
}

.flex-1{
    flex: 1;
}

.book {
    min-height: 300px;
}

.mat-menu-item.active {
    background: #3f51b5;
    color: white;
}