/* You can add global styles to this file, and also import other style files */

@import "./parameters.scss";
@import "./utilities.scss";
@import "./components.scss";

html, body { min-height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root,
app-login, 
app-registration, 
app-force-logout,
app-profile,
app-all-users,
app-become-an-author,
app-author-profile,
app-author-dashboard,
app-author-container,
app-book-editing-page,
app-book-chapters-editor,
app-book-info-edit {
    flex: 1;
    display: flex;
}



.br-break-label .mat-checkbox-label {
    white-space: initial;
}