/* You can add global styles to this file, and also import other style files */

@import "./parameters.scss";
@import "./utilities.scss";
@import "./components.scss";

@import '~@angular/cdk/overlay-prebuilt.css';

html, body { 
    min-height: 100%;
    display: flex;
    flex: 1;
    // min-width: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

app-root,
app-main,
app-login, 
app-registration, 
app-force-logout,
app-profile,
app-all-users,
app-all-domains,
app-admin-dashboard,
app-become-an-author,
app-author-profile,
app-author-dashboard,
app-author-container,
app-all-books,
app-book-editing,
app-book-chapters-editor,
app-book-info-edit,
app-book-content-editor,
runtime-component,
app-book-reader,
app-book-market,
app-reader-dashboard,
app-read-book {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.br-break-label .mat-checkbox-label {
    white-space: initial;
}


.list-group-item.selected {
    background: #3f51b5;
    color: white;
}

.br-tile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    border: 1px solid darkgray !important;
}

.br-big-tile-link {
 @extend .br-tile-link;
 width: auto
}

.br-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

