@import './parameters.scss';
@import '~@angular/material/theming';

.f-48 {
    font-size: 48px;
}

.f-44 {
    font-size: 44px;
}

.no-list-style {
    list-style: none;
}

.br-small-control {
    width: 50px;
}

.float-right{
    float: right;
}

.br-mw-50vw{
    min-width: 50vw;
}

.br-vert-midddle{
    vertical-align: middle;
}


.mat-list-item-selected {
    background-color: map-get($mat-indigo, 500) ;
    
    .mat-list-item-content {
        color: white
    } 
}