<div class="d-flex flex-1 flex-column justify-content-between">
    <h2 class="w-100 p-1">
      Chapters
      <button class="float-right" mat-icon-button aria-label="Add Chapter" (click)='edit()'>
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </h2>
    <div class='flex-1 d-flex flex-column' style="overflow-y:scroll">
      <ul class='list-group flex-1 bg-warn' cdkDropList (cdkDropListDropped)="drop($event)">
        <li (click)="select(chapter)"
          (keydown.arrowup)="dec()"
          (keydown.arrowup)="inc()"
          (keydown.arrowleft)="dec()"
          (keydown.arrowright)="inc()"
         [class.selected]="i == selectedChapterIndex" class='list-group-item'
          *ngFor="let chapter of chapters; index as i" >
          <mat-icon cdkDrag mat-list-icon class='br-vert-midddle' >unfold_more</mat-icon>
          {{chapter.title}}
        </li>
      </ul>
    </div>
  
    <app-book-chapter-info-editor 
      *ngIf="selectedChapterIndex > -1"
      [chapter]="chapters[selectedChapterIndex]" 
      (delete)="delete($event)"
      (edit)="edit($event)">
    </app-book-chapter-info-editor>
  </div>