<header class='border-bottom p-2' ngclass="{'text-center': security.isAuthenticated()}">
  <a routerLink="/" class="text-dark"><h1 class='d-inline-block'  >{{'BooksReader' | translate}}</h1></a>
  
  <nav class='float-right pr-4' *ngIf="security.isAuthenticated()">
    <button class='' mat-button [matMenuTriggerFor]="menu"><i class='material-icons f-44'>menu</i></button>
    <mat-menu #menu="matMenu">
      <!-- Here will be dynamically loaded sectiopns for user roles -->

      <a mat-menu-item [routerLink]="Endpoints.forntend.user.profile" class=''>Profile</a>
      <a mat-menu-item routerLink="/dashboard" class=' '>Dashboard</a>
      <a mat-menu-item routerLink="/book-market"> Book market</a>
      <a mat-menu-item routerLink="/author/dashboard" *ngIf="security.isAuthor"> Author dashboard</a>
      <a mat-menu-item routerLink="/admin/dashboard" *ngIf="security.isAdmin"> Admin dashboard</a>
      <a mat-menu-item class=' ' (click)='userSvc.logOut()'>Logout</a>
    </mat-menu>
  </nav>

  <div class='float-right'>
      <mat-form-field class='br-small-control'>
          <mat-select [formControl]="language">
            <mat-option *ngFor="let lang of languages" [value]="lang">{{lang.code}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>

</header>