<h1 mat-dialog-title>{{title || ''}}</h1>
<form 
  class='br-mw-50vw'
  autocomplete="off" 
  #form="ngForm" 
  (ngSubmit)="add()">
  <mat-form-field class='col'>
    <input matInput required type="text" name="name" [placeholder]="caption" #item="ngModel" [(ngModel)]='name'>
    <mat-error *ngIf="!item.value && item.touched">
      Please enter a name
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions class='justify-content-end pb-3'>
    <button type="reset" mat-raised-button (click)="close()">Cancel</button>
    <button [disabled]="form.invalid" mat-raised-button color="primary">Ok</button>
  </div>
</form>
